.multiGSEA-summary-table th {
  padding: 5px;
  border: 1px solid black;
}

.multiGSEA-summary-table td {
  padding: 5px;
  border: 1px solid black;
}

/* add padding between geneset stats plot and the plottype selector */
#shiny-tab-genesetView .shiny-input-container {
  margin-top: 15px;
}

/* Style DT Buttons Extensios: want to push them to the right */
.dt-buttons {
  float: right !important;
}

