#TOC {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  overflow:auto;
  background-color: #EAEAEA;
  padding: 20px 5px 0 0;
}

#TOC ul {
  /* list-style-type: none; */
  list-style-position: outside;
  padding: 3px 0 3px 20px;
}

#TOC li {
  margin: 0;
}

body {
  /* margin: auto; */
  /* margin-left: 210px; */
  line-height: 20px;
  padding: 0 0 0 0px;
}

/* bootstrap/whatever rmarkdown compiles the text so that
   the body is contained in a <div class="container-fluid main-container">
   and these things are setting the margins to `auto` so that the report
   is centered, I don't want that */
div.main-container {
  margin-left: 200px !important;
}

/* Each markdown header creates its on div surrounding element
 * For example, this mardkown:
 *
 *   # Header 1
 *   This is some text
 *   ## Header 2
 *   More text
 *
 * Generates:
 *
 *   <div id="header-1" class="section level1">
 *   <h1>Header 1</h1>
 *   <p>This is some text</p>
 *   <div id="header-2" class="section level2">
 *   <h2>Header 2</h2>
 *   <p>More text</p>
 *   </div>
 *   </div>
 */
div.section {
  width: 700px;
}

div.rmd_gen_tabular_result p {
  margin: 15px 0 5px 0;
}

table.rmd_summary_table {
  margin: 5px;
}

table.rmd_summary_table td.var {
  padding: 2px 5px;
  /* background-color: #EAEAEA; */
  /* font-weight: bold; */
  text-align: right;
  border-right: 1px solid #D5D5D5;
}

table.rmd_summary_table td.val {
  padding: 2px 5px;
}


/************************ Stying different plugins ****************************/

/* limma dge generated tables */
div.rmd_limma_dge div.rmd_dt th {
  /* fatten the width of the columns to ensure that p.value doesn't wrap */
  min-width: 5em;
}

/* limma camera generated tables */
div.rmd_limma_camera div.rmd_dt th {
  /* fatten the width of the columns to ensure that p.value doesn't wrap */
  min-width: 5em;
}

/****************************************************************** multiGSEA */
div.multiGSEA-result-tabdiv {
  width: 70em;
}

.multiGSEA-result-tabdiv div.datatables {
/* The output of DT::datatable is wrapped in a <div class="datatables">
 * This forces the table output to be boudned by a scrollable container
 * which fixes filter widget alignment issues for wide tables:
 *   https://github.com/rstudio/DT/issues/34#issuecomment-88225959            */
  overflow-x: scroll;
}

div.multiGSEA-result-tabdiv td img {
  width: 150px
}

div.multiGSEA-summary-table th {
  padding: 5px;
  border: 1px solid black;
}

div.multiGSEA-summary-table td {
  padding: 5px;
  border: 1px solid black;
}


div.rmd-multiGSEA-result-container p.display-summary {
  font-weight: bold;
}

div.multiGSEA-result-tabdiv th:nth-child(1) {
  /* width: 150px; */
}

div.multiGSEA-result-tabdiv th:nth-child(2) {
  /* width: 150px; */
}
