# on: [push, pull_request]
on:
  push:
    branches:
      - master
      - develop # This will eventually require a different container
  pull_request:
  schedule:
    # Rerun checks daily, after facilebio/facilebio_base is rebuilt.
    # This will catch failures due to changes in functionality of packages
    # we depend on.
    # facilebio_base builds every day at 1AM pacific and takes about 1 hour
    # this runs at same time as facilebio_base_extra
    - cron: '0 11 * * *'

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    container: facilebio/facilebio_base
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master

      # I guess I didn't want to install this into the base
      - name: Install dependencies
        run: remotes::install_deps(dependencies = TRUE)
        shell: Rscript {0}

      - name: Check
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
